@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body{
  text-align:center;
  background-color:#44BBFF;
  color:#112233;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}

h1{
  font-weight:500;
  font-family: inherit;
}

a, a:hover{
  color:#FC575E;
  font-family: inherit;
}

a:hover{
  text-decoration: underline;
}
